body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

input {
    margin-bottom: 10px;
}

.note {
    padding: 10px;
    border: 1px solid pink;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.note button {
    margin-left: 10px;
}
